<!DOCTYPE html>
<html>

<head>
    <title>Recommendation System</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <script src="../static/assets/js/index.js"></script>
</head>

<body>
    <header></header>
    <div class="form-container"> 
        <form method="POST">
            <h3>Login</h3>
            <label>Account
                <input type="text" name="account" required>
            </label>
            <br>
            <label>Password
                <input type="text" name="password" required>
            </label>
            <br>
            <button>submit</button>
        </form>
    </div>
    <footer>
        <a href="../templates/index.html">index</a>
        <a href="../templates/referee.html">referee</a>
        <a href="../templates/referer.html">referer</a>
        <a href="../templates/fillform.html">fillform</a>
    </footer>
</body>

</html>