<!DOCTYPE html>
<html>

<head>
    <title>Recommendation System</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <script src="../static/assets/js/index.js"></script>
</head>

<body>
    <div>
        <div>

            <form method="POST">
                <div>
                    <label>
                        account
                        <input type="text" name="account">
                    </label>
                </div>
                <div>
                    <label>
                        password
                        <input type="text" name="passoword">
                    </label>
                </div>
                <div>
                    <button>submit</button>
                </div>
            </form>
            <a href="../templates/index.html">index</a>
            <a href="../templates/referee.html">referee</a>
            <a href="../templates/referer.html">referer</a>
            <a href="../templates/fillform.html">fillform</a>
        </div>
    </div>
</body>

</html>