<!DOCTYPE html>
<html>

<head>
    <title>Recommendation System</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <script src="../static/assets/js/index.js"></script>
</head>

<body>
    <div class="referer-container">
        <h2>Recommendation Letter</h2>
        <div>
            <h3>Referee:</h3>
        </div>
        <form>
            <br>
            LeaderShip
            <fieldset>
                    <input type="radio" name="leadership" value="good">Good
                    <input type="radio" name="leadership" value="normal">Normal
                    <input type="radio" name="leadership" value="bad">Bad
            </fieldset>
            Professional Knowledge
            <fieldset>
                    <input type="radio" name="professional" value="good">Good
                    <input type="radio" name="professional" value="normal">Normal
                    <input type="radio" name="professional" value="bad">Bad
            </fieldset>
            Cooperation
            <fieldset>
                    <input type="radio" name="cooperation" value="good">Good
                    <input type="radio" name="cooperation" value="normal">Normal
                    <input type="radio" name="cooperation" value="bad">Bad
            </fieldset>
            Recommendation content
            <fieldset>
                <textarea name="recommend-content" rows="15"></textarea>
            </fieldset>
            <button>submit</button>
            <br>

        </form>
    </div>
    <footer>
        <a href="../templates/index.html">index</a>
        <a href="../templates/referee.html">referee</a>
        <a href="../templates/referer.html">referer</a>
        <a href="../templates/fillform.html">fillform</a>
    </footer>
</body>

</html>